body{
    background-color: black;
   font-family: "Open Sans", sans-serif;
   margin: 0%;

}
header{
    
text-align: center;
margin-top: 2%;
display: flex;
justify-content: center;


}

.kopiko{
    font-family: "Playfair Display", serif;;
    text-decoration: none;
    font-size: 2.9130rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 6.5px;
    text-transform: uppercase;
    color: #b7b7b7;

}
#sub-heading{
    color: #b7b7b7;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 5px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: -1%;
    
}
.main{
    width: 95%;
    border-bottom: #3e3e3e solid  0.1px;


}
.nav-bar{
   font-size: 90%;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    color: aliceblue;
    
    column-gap: 3cap;
}
.image{
    
    
     width: 100%;
    /* height: 471px; */
} 
.image2{
    width: 75%;
    
}
.image-div{
    justify-content: center;
    display: flex;
}
article{
    color: rgba(125, 125, 125, 0.97);
    font-weight: 700;
    font-family: "Roboto", Sans-serif;
    text-align: center;
    font-size: 22px;
    line-height: 1.6em;
    letter-spacing: -0.6px;
}
.icons{
   
    height: 25px;
    width: 25px;
    border-radius: 77% ;
}
footer{
     display: flex;
     justify-content: center;
     height: 50%;
     width: 100%;
     margin-top: 15%;

     gap: 100px ;
}
span{
    font-size: smaller;
    color: aliceblue;
}
#footer-last{
    font-size: smaller;
    color: #3e3e3e;
}
.copy-right{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;

}
